@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');


body{
    font-family: 'PT Sans Narrow', sans-serif;
    background-color: #041562;
}

section h2 {
    font-size: 32px;
}
.titulo{
    color: white;
    font-size: 32px;
    
}


#seleccionar-mascota {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.subtitulo{
    color: white;
}


.tarjetas{
    display: flex; /* una al lado de la otra*/
    gap: 10px;
}
.tarjeta-de-mokepon{
    width: 180px;
    height: 100px;
    background-color: #11468f;
    padding: 10px;
    box-sizing: border-box ;
    border-radius: 20px;
    display: flex;
    color: white;
    justify-content: center; /*centrado de contenido*/
    align-items: center ; /*centrado de contenido*/
}


.tarjeta-de-mokepon img{
    width: 80px;
}

input{
    display: none;
}


#boton-mascota {
    font-size: 15px;
    border-radius: 30px;
    
}


